* alexandre.ruault@blablacar.com cagdas.sozer@blablacar.com david.lespine@blablacar.com jean-sebastien.calvier@blablacar.com louis.billaud@blablacar.com patrick.brochado@blablacar.com redouane.khecha@blablacar.com vincent.audino@blablacar.com yohan.bittan@blablacar.com
